<div class="container">
  <div class="todo-list">
    {{ title }}
    <div class="input-group" style="margin-top:10px;">
      <input type="text" placeholder="Add a task" #newTask>
      <button (click)="add(newTask.value)" class="add-button">+</button>
    </div>
    <table>
      <tr *ngFor="let task of tasks; let i = index" [class.odd]="i%2!=0" [class.even]="i%2==0">
        <td>
          <p [class.is-done]="task.is_done">
            {{ task.title }}
          </p>
        </td>
        <td>
          <button (click)="remove(task)" class="remove-button">X</button>
          <button (click)="task.toggleIsDone()" class="done-button">
            {{ task.is_done ? 'Undo':'Done' }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
